.item {
  display: flex;
}

.number {
  margin-left: auto;
}

.button {
  cursor: pointer;
  margin-left: 25px;
  border: 1px solid #7a7979;
  border-radius: 4px;
}

.button:active {
  color: #fff;
  background-color: rgb(54, 156, 214);
}
